<div
  class="gap-5 d-flex justify-content-center align-items-center px-4"
  style="height: 100%; background: var(--background-medium-gray); margin: 30px; border-radius: 20px;"
>
  <div style="max-width: 45%">
    <h1 class="fs-1 fw-medium mb-4" style="letter-spacing: 2px">
      Segurança digital é uma prioridade para o
      <span style="color: var(--primary)">Simple</span><span style="font-weight: bold;">Bank</span>
    </h1>
  </div>
  <img
    style="max-width: 550px; padding: 50px;"
    src="/assets/security.svg"
    alt="Uma imagem de dois seguranças"
  />
</div>