<div
  class="gap-5 d-flex justify-content-center align-items-center px-4"
  style="height: 100vh; background: var(--secondary)"
>
  <div style="max-width: 45%">
    <h1 class="fs-1 fw-medium mb-4" style="letter-spacing: 2px">
      A vida é muito mais fácil quando você é
      <span style="color: var(--primary)">Simple</span>Bank
    </h1>
    <p class="mb-4" style="font-size: 22px; letter-spacing: 2px">
      Gerencie seu dinheiro sem sair de casa <br />
      O banco feito para simplificar sua vida
    </p>
    <button
      type="button"
      class="btn"
      style="color: var(--text-light); background: var(--primary); font-size: 20px; width: 82%;"
    >
      <span class="fw-semibold">Solicitar conta</span>
    </button>
  </div>
  <img
    style="max-width: 550px"
    src="/assets/woman-relaxing.svg"
    alt="Imagem de uma mulher relaxando"
  />
</div>