<div 
class="gap-5 d-flex justify-content-center align-items-center" 
style="height: 100vh; background: var(--secondary); display: flex;">
 
  <img style="max-width: 40%;" src="/assets/login-admin.svg"
  alt="Uma imagem de uma mulher investindo" />

      <div 
      style="height: 100%; width: 100%; background: var(--text-light); display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img style="width: 55%; object-fit: cover; max-width: 300px; margin-bottom: 50px" 
        src="/assets/logo-color.svg" 
        alt="Logo simple bank colorida" 
        />
  
        <form style="width: 80%;">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" placeholder="Conta"
            [(ngModel)]="admin.email"
             name="email" />
            <label for="conta">Usuário</label>
          </div>
          <div class="form-floating">
            <input type="password" 
            class="form-control" id="floatingPassword" 
            placeholder="Password"
            [(ngModel)]="admin.senha" 
            name="senha" />
            <label for="floatingPassword">Senha</label>
          </div>
          <a href="#" style="margin-bottom: 20px; display: block; text-align: right; text-decoration: none; color: black; margin-top: 15px;">Esqueci a senha</a>
          <button type="button" class="btn" 
            style="color: var(--text-light); background: var(--primary); font-size: 20px; width: 100%;"
            (click)="logar()">
            <span class="fw-semibold">Enviar</span>
          </button>
        </form>
      </div>
    </div>
  