<h2>Transações</h2>
<div class="d-flex flex-column">

    <label class="label pb-2">Para quem você vai transferir?</label>
    <input type="text" class="form-control" placeholder="Nome, Chave ou Pix copia e cola" style="font-size: 12px;" />
    <span style="font-size: 10px; color: gray; margin-left: 3px;">Celular, CPF/CNPJ, e-mail, chave-aleatória...</span>

    <div class="modal fade" id="modalTransfSimple" aria-hidden="true" aria-labelledby="modalTransfSimple" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTransfSimple">Transferir via Número de Conta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Número de Conta:</label>
                    <input type="text" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalTransfSimple2" data-bs-toggle="modal">Avançar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalTransfSimple2" aria-hidden="true" aria-labelledby="modalTransfSimple2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTransfSimple2">Confirmações de Pagamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Senha de Transação:</label>
                    <input type="password" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalTransfSimple" data-bs-toggle="modal">Voltar</button>
                    <button type="button" style="background: var(--primary); color: var(--text-light);"
                        class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="mt-2 btn btn-large fw-bold rounded-3 text-start d-flex align-items-center gap-2 px-3"
        style="background: var(--primary); color: var(--text-light); width: 100%;" 
        data-bs-target="#modalTransfSimple" data-bs-toggle="modal">
        
        <i class="bi bi-cash-stack text-start"></i> 
        <span class="flex-grow-1 text-center" style="padding-right: 18px;">Transferir</span>
    </button>

    <div class="modal fade" id="modalPlanTransf" aria-hidden="true" aria-labelledby="modalPlanTransf" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalPlanTransf">Agendar Transferência</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Número de Conta:</label>
                    <input type="text" class="form-control" style="background-color: var(--background-light-gray);" />

                    <label>Data de Transferência:</label>
                    <input type="date" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalPlanTransf2" data-bs-toggle="modal">Avançar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPlanTransf2" aria-hidden="true" aria-labelledby="modalPlanTransf2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalPlanTransf2">Confirmações de Pagamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Senha de Transação:</label>
                    <input type="password" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalPlanTransf" data-bs-toggle="modal">Voltar</button>
                    <button type="button" style="background: var(--primary); color: var(--text-light);"
                        class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    
    <button type="submit" class="mt-2 btn btn-large fw-bold rounded-3 text-start d-flex align-items-center gap-2 px-3"
        style="background: var(--primary); color: var(--text-light); width: 100%;" 
        data-bs-target="#modalPlanTransf" data-bs-toggle="modal">
        
        <i class="bi bi-calendar-event"></i> 
        <span class="flex-grow-1 text-center">Agendar Transferência</span>
    </button>

    <div class="modal fade" id="modalBoleto" aria-hidden="true" aria-labelledby="modalBoleto" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalBoleto">Pagamento via código de Boleto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Código do Boleto:</label>
                    <input type="text" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalBoleto2" data-bs-toggle="modal">Avançar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalBoleto2" aria-hidden="true" aria-labelledby="modalBoleto2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalBoleto2">Confirmações de Pagamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Senha de Transação:</label>
                    <input type="text" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalBoleto" data-bs-toggle="modal">Voltar</button>
                    <button type="button" style="background: var(--primary); color: var(--text-light);"
                        class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
        
    <button type="submit" class="mt-2 btn btn-large fw-bold rounded-3 text-start d-flex align-items-center gap-2 px-3"
        style="background: var(--primary); color: var(--text-light); width: 100%;" 
        data-bs-target="#modalBoleto" data-bs-toggle="modal">
        
        <i class="bi bi-file-earmark-break"></i> 
        <span class="flex-grow-1 text-center" style="padding-right: 18px;">Pagar Boleto</span>
    </button>

    <div class="modal fade" id="modalTed" aria-hidden="true" aria-labelledby="modalTed" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTed">Pagamento via código de barras</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Código de Barras:</label>
                    <input type="text" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalTed2" data-bs-toggle="modal">Avançar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalTed2" aria-hidden="true" aria-labelledby="modalTed2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTed2">Confirmações de Pagamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Senha de Transação:</label>
                    <input type="text" class="form-control" style="background-color: var(--background-light-gray);" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" style="background: var(--primary); color: var(--text-light);"
                        data-bs-target="#modalTed" data-bs-toggle="modal">Voltar</button>
                    <button type="button" style="background: var(--primary); color: var(--text-light);"
                        class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="mt-2 btn btn-large fw-bold rounded-3 text-start d-flex align-items-center gap-2 px-3"
        style="background: var(--primary); color: var(--text-light); width: 100%;" 
        data-bs-target="#modalTed" data-bs-toggle="modal">
        
        <i class="bi bi-person-vcard"></i> 
        <span class="flex-grow-1 text-center" style="padding-right: 18px;">Tranferir - TED</span>
    </button>

    <button type="submit" class="mt-2 btn btn-large fw-bold rounded-3"
        style="background: var(--primary); color: var(--text-light);" data-bs-target="#modalTed"
        data-bs-toggle="modal">Comprovantes (2ª via)</button>
</div>