<div class="gap-5 d-flex justify-content-center align-items-center px-4"
    style="height: 100%; background: var(--secondary); margin: 30px; border-radius: 20px;">
    <img style="max-width: 550px; padding: 50px;" src="/assets/team-img.svg" alt="Imagem de um grupo de três pessoas" />
    <div style="max-width: 45%; justify-items: center;">
        <img style="width: 300px" src="/assets/logo-color.svg" alt="Logo simple bank colorida" />
        <p class="mb-4" style="font-size: 22px; letter-spacing: 2px; text-align: center; padding: 5%;">
            Fundado em 2024, o Simple Bank surge com o propósito de oferecer soluções financeiras simples, efecientes e
            seguras.
            Apesar de sua breve trajetória no setor,
            o banco se destaca por seus valores sólidos, voltados para as necessidades e o bem-estar dos seus clientes.
        </p>
        <div style="width: 100%; display: flex; justify-content: flex-end;">
            <a style="color: var(--primary); font-style: italic; font-weight: bold">saiba mais</a>
        </div>
    </div>
</div>