<app-card>
  <div class="d-flex flex-column gap-3">
    <h2>Ted</h2>

    <select class="form-select" aria-label="Default select example">
      <option selected disabled value="">Selecione a Instituição</option>
      <option value="SimpleBank">SimpleBank</option>
      <option value="Nubank">Nubank</option>
      <option value="Inter">Inter</option>
      <option value="Itaú">Itaú</option>
      <option value="Bradesco">Bradesco</option>
      <option value="Santander">Santander</option>
      <option value="Mercado Pago">Mercado Pago</option>
    </select>

    <input
      name="agencia"
      [(ngModel)]="conta.agencia"
      class="form-control"
      placeholder="Digite a agência"
    />

    <input
      name="conta"
      [(ngModel)]="conta.conta"
      class="form-control"
      placeholder="Digite o número da conta"
    />

    <input
      name="nome"
      [(ngModel)]="transacao.valor"
      class="form-control"
      placeholder="Digite o número da conta"
    />

    <input
      name="nome"
      [(ngModel)]="transacao.descricao"
      class="form-control"
      placeholder="Digite o número da conta"
    />

    <button
      type="submit"
      class="mt-3 btn btn-large fw-bold rounded-3"
      style="border: 1px var(--primary) solid; color: var(--primary)"
      data-bs-target="#modalPix"
      data-bs-toggle="modal"
      (click)="efetuarPagamento(transacao)"
    >
      <i class="bi bi-copy"></i> Pagar
    </button>
  </div>
</app-card>
