<div class="p-4" style="background: var(--background-light-gray)">
  <div
    style="
      background: var(--secondary);
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    "
  >
    <app-box-content>
      <div class="d-flex justify-content-between align-items-center mb-5">
        <div>
          <h2
            class="mb-1"
            style="font-weight: 500; color: var(--primary); font-size: 36px"
          >
            Transações
          </h2>
          <p style="font-size: 16px; margin-left: 30px">
            (Pague boletos e faça transferências)
          </p>
        </div>

        <img
          style="max-width: 250px"
          src="/assets/payments-img.svg"
          alt="Imagem ilustrando um pagamento"
        />
      </div>

      <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 30px">
        <app-boleto></app-boleto>

        <div style="grid-column: span 2">
          <app-ted></app-ted>
        </div>
      </div>

      <!-- <div class="d-flex justify-content-between gap-5 mt-5">
      <div class="card">
        <h2>Pix</h2>
        <p>
          Basta usar uma chave Pix (como CPF, e-mail ou telefone) para enviar
          dinheiro a qualquer pessoa ou empresa, em segundos! Aproveite a
          conveniência e a agilidade do Pix, disponível para você a qualquer
          hora do dia.
        </p>
      </div>

      <div class="card">
        <h2>TED</h2>
        <p>
          Com a TED, você realiza transferências entre diferentes bancos de
          forma rápida e segura, com valores disponíveis no mesmo dia. Basta
          informar os dados da conta de destino e pronto! Ideal para
          transferências maiores, a TED garante praticidade e eficiência para
          suas movimentações financeiras.
        </p>
      </div>

      <div class="card">
        <h2>Boleto</h2>
        <p>
          Com o boleto bancário, você pode pagar produtos e serviços de forma
          prática, sem precisar de conta bancária. Basta gerar o boleto e pagar
          em qualquer banco ou aplicativo autorizado. É a forma ideal para quem
          busca uma opção segura e acessível para realizar pagamentos!
        </p>
      </div>
    </div> -->
    </app-box-content>
  </div>
</div>
