<div
  class="gap-5 d-flex justify-content-center align-items-center"
  style="
    height: 100vh;
    background: var(--secondary);
    display: flex;
    flex-wrap: nowrap;
  "
>
  <img
    style="max-width: 70%; object-fit: cover"
    src="/assets/investment-img.svg"
    alt="Uma imagem de uma mulher investindo"
  />
  <div
    style="
      height: 100%;
      width: 45%;
      background: var(--text-light);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <img
      style="max-width: 300px; margin-bottom: 50px"
      src="/assets/logo-color.svg"
      alt="Logo simple bank colorida"
    />
    <form class="w-100 px-5">
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Conta"
        aria-label="default input example"
        [(ngModel)]="conta.conta"
        name="conta"
      />
      <input
        type="password"
        class="form-control mb-3"
        placeholder="Senha"
        aria-label="default input example"
        [(ngModel)]="conta.senha"
        name="senha"
      />
      <a
        routerLink="/cadastro"
        class="fw-semibold"
        style="text-decoration: none; color: var(--text-dark)"
        >Torne-se um <span style="color: var(--primary)">SimpleLover</span></a
      >
      <a
        routerLink="/recuperar-senha"
        class="fw-semibold"
        style="
          display: block;
          text-align: right;
          text-decoration: none;
          color: var(--text-dark);
        "
        >Esqueci a senha</a
      >
      <button
        type="button"
        class="btn my-4 w-100"
        style="
          color: var(--text-light);
          background: var(--primary);
          font-size: 20px;
          height: 45px;
        "
        (click)="logar()"
      >
        <span class="fw-semibold">Enviar</span>
      </button>
    </form>
    <a
      routerLink="/login-admin"
      class="fw-semibold"
      style="font-size: 18px; text-decoration: none; color: var(--primary)"
      >Entrar como Gerente</a
    >
  </div>
</div>
