<div
  class="gap-5 d-flex justify-content-center align-items-center px-4"
  style="
    height: 100%;
    background: var(--background-medium-gray);
    margin: 30px;
    border-radius: 20px;
  "
>
  <div style="max-width: 45%">
    <h1 class="fs-1 fw-medium mb-4 text-center" style="letter-spacing: 2px">
      Pix no <span style="color: var(--primary)">Simple</span>Bank
    </h1>
    <p
      class="mb-4 text-center"
      style="font-size: 22px; letter-spacing: 2px; padding: 20px 10% 0 10%"
    >
      O poder do PIX na sua conta digital SimpleBank. Faça
      <span style="font-weight: bold">transferências instantâneas</span> de
      graça a qualquer dia e horário. <br /><br />
      Abra sua conta e cadastre suas chaves PIX no Simple<span
        style="font-weight: bold"
        >Bank!</span
      >
    </p>
    <a
      href="/"
      style="
        color: var(--primary);
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
      "
      >Saiba mais</a
    >
  </div>
  <img
    style="max-width: 550px; padding: 50px"
    src="/assets/payments-img.svg"
    alt="Imagem de uma mulher efetuando um pagamento"
  />
</div>
