<div
  class="card p-4 rounded-4 w-100"
  style="
    max-width: 300px;
    background: var(--text-light);
    border: 0px;
    box-shadow: 0.5px 0.5px 5px gray;
  "
>
  <h3 class="mb-4 text-center" style="color: var(--primary)">Acesso rápido</h3>
  <div class="d-flex flex-column gap-3">
    <!-- Linha 1 -->
    <div class="d-flex align-items-center gap-3">
      <img width="30px" src="/assets/pix-icon.svg" alt="ícone de pix" />
      <a
        class="fs-4 fw-semibold text-decoration-none"
        style="color: black"
        routerLink="/transacoes"
      >
        Área Pix
      </a>
    </div>

    <!-- Linha 2 -->
    <div class="d-flex align-items-center gap-3">
      <img
        width="30px"
        src="/assets/transaction-icon.svg"
        alt="ícone de transação ted"
      />
      <a
        class="fs-4 fw-semibold text-decoration-none"
        style="color: black"
        routerLink="/transacoes"
      >
        TED
      </a>
    </div>

    <!-- Linha 3 -->
    <div class="d-flex align-items-center gap-3">
      <img width="30px" src="/assets/barcode-icon.svg" alt="ícone de boleto" />
      <a
        class="fs-4 fw-semibold text-decoration-none"
        style="color: black"
        routerLink="/transacoes"
      >
        Pagar Boleto
      </a>
    </div>

    <!-- Linha 4 -->
    <div class="d-flex align-items-center gap-2">
      <img
        width="40px"
        src="/assets/card-icon.svg"
        alt="ícone do cartão de crédito"
      />
      <a
        class="fs-4 fw-semibold text-decoration-none"
        style="color: black"
        routerLink="/transacoes"
      >
        Cartão de Crédito
      </a>
    </div>

    <!-- Linha 5 -->
    <div class="d-flex align-items-center gap-3">
      <img
        width="30px"
        src="/assets/investiment-icon2.svg"
        alt="ícone de investimento"
      />
      <a
        class="fs-4 fw-semibold text-decoration-none"
        style="color: black"
        routerLink="/transacoes"
      >
        Investimentos
      </a>
    </div>
  </div>
</div>
