<div class="gap-5 d-flex justify-content-center align-items-center px-4"
    style="height: 100vh; background: var(--secondary)">
    <img style="max-width: 550px" src="/assets/statistics-bro.svg" alt="Imagem de duas pessoas lidando com estatistica" />
    <div style="max-width: 45%">
        <h1 class="fs-1 fw-medium mb-4" style="letter-spacing: 2px">
            Você no controle dos <br/>
        <span style="font-weight: bold;">seus investimentos</span>
        </h1>
        <p class="mb-4" style="font-size: 22px; letter-spacing: 2px">
            Gerencie seu dinheiro sem sair de casa <br />
            O banco feito para simplificar sua vida
        </p>
    </div>
</div>