<div class="d-flex justify-content-between align-items-center">
  <div
    class="w-100 d-flex flex-column align-items-center"
    style="background: var(--background-medium-gray)"
  >
    <h1 style="max-width: 70%" class="my-5 text-center">
      Chegou a hora de abrir sua conta
      <span style="color: var(--primary)">Simple</span>Bank
    </h1>
    <img
      style="max-width: 450px"
      src="/assets/image-register.svg"
      alt="Imagem da tela de cadastro"
    />
  </div>

  <div style="max-width: 450px">
    <p
      class="mb-5 px-5"
      style="
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.5px;
        width: 95%;
      "
    >
      Conta digital sem burocracia. Vem criar sua conta
      <span style="color: var(--primary)">Simple</span>Bank!
    </p>

    <form class="px-5">
      <input
        class="form-control mb-3"
        type="text"
        placeholder="Nome completo"
        aria-label="default input example"
      />
      <input
        class="form-control mb-3"
        type="text"
        placeholder="CPF"
        aria-label="default input example"
      />
      <input
        class="form-control mb-3"
        type="text"
        placeholder="RG"
        aria-label="default input example"
      />
      <input
        class="form-control"
        type="password"
        placeholder="Senha"
        aria-label="default input example"
      />
      <button
        type="submit"
        class="mt-4 btn btn-large fw-bold w-100 rounded-3"
        style="
          background: var(--primary);
          color: var(--text-light);
          height: 45px;
          font-size: 20px;
        "
      >
        Enviar
      </button>
    </form>
  </div>
</div>
