<nav
  class="d-flex justify-content-between align-items-center px-4 w-100"
  style="background: var(--primary); height: 100px"
>
  <div class="d-flex gap-2">
    <img width="30px" src="/assets/menu-icon.svg" alt="Menu do site" />
    <a class="navbar-brand fs-5" style="color: var(--text-light)" routerLink="/"
      >Menu</a
    >
  </div>
  <a routerLink="/">
    <img
      style="width: 200px"
      src="/assets/logo-simple-bank.svg"
      alt="Logo do Simple Bank"
  /></a>

  <div class="d-flex gap-2">
    <img
      width="30px"
      src="/assets/user-icon.svg"
      alt="Ícone de acessar conta do usuário"
    />
    <a
      class="navbar-brand fs-5"
      style="color: var(--text-light)"
      routerLink="/login"
      >Acessar Conta</a
    >
  </div>
</nav>
