<nav aria-label="Paginas extrato" class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        href="#"
        aria-label="Previous"
        style="color: var(--primary)"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" style="color: var(--primary)">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" style="color: var(--primary)">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" style="color: var(--primary)">3</a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        href="#"
        aria-label="Next"
        style="color: var(--primary)"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
